# API Configuration
VITE_API_BASE_URL=backend_url

# Solana Configuration
VITE_SOLANA_NETWORK=devnet
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com

# USDC Mint Address (Devnet)
VITE_USDC_MINT_ADDRESS=usdc_addresss

# Company Wallet Address
VITE_COMPANY_WALLET_ADDRESS=company_wallet_address

# WebSocket Configuration (Production)
VITE_WS_URL=wss:backend_url

# Feature Flags
VITE_ENABLE_LIVE_BALANCE=true
VITE_ENABLE_KYC=true
VITE_ENABLE_REFERRALS=true
